# PyCity Schools Analysis

Summarizes the analysis
The analysis of School data and Student data shows that 15 total schools, with 39,170 students, varies greatly in terms of school budget and therefore per student budget. The top schools are all charter schools and the bottom schools (in terms of % overall passing) are district schools. There is not much difference in either direction when looking at reading and math scores from the 9th graders, to 12th graders. The level of comprehension that the student enters high school with, is most likely what they will graduate with. Spending ranges also does not heavily correlate to higher math or reading scores, math scores actually drop the higher the spending range is per student. And reading scores only drop about 2 points between the lowest and highest range of spending per student. The worst overall passing score is seen at the highest range of spending per student, so this shows that more money per student does not mean the student is getting a higher level of care. 

Draws two correct conclusions or comparisons from the calculations
The correlation between the top schools and the bottom schools has more to do with the total student count, compared to the per student budget. This means that the amount of students at the school has a far greater impact on the amount of students passing overall, then how much the school has to spend on each student. This most likely means there are more students getting lost per classroom in the larger district schools, compared to the charter schools with less students. The math scores have the largest gap between the bottom and top performing schools. The bottom schools have averages sitting around 77 and 76, while the top schools have average math scores at 83. When you take a look at math scores by grade, there is not much difference as 9th graders compared to 12th graders. This most likely means that the level the student enters high school as, they will graduate at that same level in terms of math comprehension. The low math scores at the district schools compared to the charter schools (looking at math scores by grade) could mean that the students filtering into the district schools came from less advantaged middle schools. Compared to the students from the charter schools most likely coming from more advantaged middle schools and even elementary schools.  
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete['Student ID'].nunique()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
summary = {
    'Total Schools': [school_count],
    'Total Students': [student_count],
    'Total Budget': [total_budget],
    'Average Math Score': [average_math_score],
    'Average Reading Score': [average_reading_score],
    '% Passing Math': [passing_math_percentage],
    '% Passing Reading': [passing_reading_percentage],
    '% Overall Passing': [overall_passing_rate]}

first_summary = pd.DataFrame(summary)

# Formatting
first_summary["Total Students"] = first_summary["Total Students"].map("{:,}".format)
first_summary["Total Budget"] = first_summary["Total Budget"].map("${:,.2f}".format)
first_summary["Average Reading Score"] = first_summary["Average Reading Score"].map("{:.2f}".format)
first_summary["Average Math Score"] = first_summary["Average Math Score"].map("{:.2f}".format)
first_summary["% Passing Math"] = first_summary["% Passing Math"].map("{:.2f}%".format)
first_summary["% Passing Reading"] = first_summary["% Passing Reading"].map("{:.2f}%".format)
first_summary["% Overall Passing"] = first_summary["% Overall Passing"].map("{:.2f}%".format)

# Display the DataFrame
first_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
per_school_counts = school_data.set_index(["school_name"])["size"]
#per_school_counts = school_data.groupby['school_name'].sum()
per_school_counts

school_name
Huang High School        2917
Figueroa High School     2949
Shelton High School      1761
Hernandez High School    4635
Griffin High School      1468
Wilson High School       2283
Cabrera High School      1858
Bailey High School       4976
Holden High School        427
Pena High School          962
Wright High School       1800
Rodriguez High School    3999
Johnson High School      4761
Ford High School         2739
Thomas High School       1635
Name: size, dtype: int64

In [13]:
# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Huang High School        655.0
Figueroa High School     639.0
Shelton High School      600.0
Hernandez High School    652.0
Griffin High School      625.0
Wilson High School       578.0
Cabrera High School      582.0
Bailey High School       628.0
Holden High School       581.0
Pena High School         609.0
Wright High School       583.0
Rodriguez High School    637.0
Johnson High School      650.0
Ford High School         644.0
Thomas High School       638.0
dtype: float64

In [14]:
# Calculate the average test scores per school from school_data_complete
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_math
#per_school_math / per_school_counts
per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [15]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
students_passing_math = school_data_complete[school_data_complete["math_score"] >= 70]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [16]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
students_passing_reading = school_data_complete[school_data_complete["reading_score"] >= 70]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [17]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [18]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100

In [19]:
# Create a DataFrame called `per_school_summary_df` with columns for the calculations above.
per_school_summary = {
    'School Type': school_types,
    'Total Students': per_school_counts,
    'Total School Budget': per_school_budget,
    'Per Student Budget': per_school_capita,
    'Average Math Score': per_school_math,
    'Average Reading Score': per_school_reading,
    '% Passing Math': per_school_passing_math,
    '% Passing Reading': per_school_passing_reading,
    '% Overall Passing': overall_passing_rate}

per_school_summary_df = pd.DataFrame(per_school_summary)

In [20]:
per_school_summary_df.dtypes

School Type               object
Total Students             int64
Total School Budget        int64
Per Student Budget       float64
Average Math Score       float64
Average Reading Score    float64
% Passing Math           float64
% Passing Reading        float64
% Overall Passing        float64
dtype: object

In [21]:
# Formatting
per_school_summary_df.rename_axis("School Name", inplace=True)
per_school_summary_df["Total Students"] = per_school_summary_df["Total Students"].map("{:,}".format)
per_school_summary_df["Total School Budget"] = per_school_summary_df["Total School Budget"].map("${:,.2f}".format)
per_school_summary_df["Per Student Budget"] = per_school_summary_df["Per Student Budget"].map("${:,.2f}".format)
per_school_summary_df["Average Math Score"] = per_school_summary_df["Average Math Score"].map("{:.2f}".format)
per_school_summary_df["Average Reading Score"] = per_school_summary_df["Average Reading Score"].map("{:.2f}".format)
per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.2f}%".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.2f}%".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.2f}%".format)

# Display the formatted DataFrame as a summary table
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%

## Highest-Performing Schools (by % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary_df.sort_values("% Overall Passing",ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

In [23]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary_df.sort_values("% Overall Passing")
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

In [24]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby("school_name")["math_score"].mean()
tenth_grader_math_scores = tenth_graders.groupby("school_name")["math_score"].mean()
eleventh_grader_math_scores = eleventh_graders.groupby("school_name")["math_score"].mean()
twelfth_grader_math_scores = twelfth_graders.groupby("school_name")["math_score"].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({
    "9th": ninth_grade_math_scores,
    "10th": tenth_grader_math_scores,
    "11th": eleventh_grader_math_scores,
    "12th": twelfth_grader_math_scores
})

#format data
math_scores_by_grade = math_scores_by_grade.round(2)

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade

In [25]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grader_reading_scores = ninth_graders.groupby("school_name")["reading_score"].mean()
tenth_grader_reading_scores = tenth_graders.groupby("school_name")["reading_score"].mean()
eleventh_grader_reading_scores = eleventh_graders.groupby("school_name")["reading_score"].mean()
twelfth_grader_reading_scores = twelfth_graders.groupby("school_name")["reading_score"].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({
    "9th": ninth_grader_reading_scores,
    "10th": tenth_grader_reading_scores,
    "11th": eleventh_grader_reading_scores,
    "12th": twelfth_grader_reading_scores
})


#formatting output
reading_scores_by_grade = reading_scores_by_grade.round(2)

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

## Scores by School Spending

In [26]:
# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [27]:
# Create a copy of the school summary since it has the "Per Student Budget"
school_spending_df = per_school_summary_df.copy()

In [28]:
# Use `pd.cut` to categorize spending based on the bins.

school_spending_df["Per Student Budget"] = (
    school_spending_df["Per Student Budget"]
    .replace('[\$,]', '', regex=True)
    .astype(float)
)

school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"],
                                                  spending_bins, labels=labels, include_lowest=True)
                                                  

school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
School Name,,,,,,,,,,
Bailey High School,District,"4,976","$3,124,928.00",628.0,77.05,81.03,66.68%,81.93%,54.64%,$585-630
Cabrera High School,Charter,"1,858","$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%,<$585
Figueroa High School,District,"2,949","$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%,$630-645
Ford High School,District,"2,739","$1,763,916.00",644.0,77.10,80.75,68.31%,79.30%,54.29%,$630-645
Griffin High School,Charter,"1,468","$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%,$585-630
Hernandez High School,District,"4,635","$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%,$645-680
Holden High School,Charter,427,"$248,087.00",581.0,83.80,83.81,92.51%,96.25%,89.23%,<$585
Huang High School,District,"2,917","$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%,$645-680
Johnson High School,District,"4,761","$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%,$645-680
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%,$585-630
Rodriguez High School,District,"3,999","$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%,$630-645
Shelton High School,Charter,"1,761","$1,056,600.00",600.0,83.36,83.73,93.87%,95.85%,89.89%,$585-630
Thomas High School,Charter,"1,635","$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%,$630-645
Wilson High School,Charter,"2,283","$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%,<$585
Wright High School,Charter,"1,800","$1,049,400.00",583.0,83.68,83.95,93.33%,96.61%,90.33%,<$585

In [29]:
school_spending_df.dtypes

school_spending_df['Per Student Budget'] = school_spending_df['Per Student Budget'].astype(object)

In [30]:
# Remove percentage signs and convert relevant columns to numeric
school_spending_df['% Passing Math'] = school_spending_df['% Passing Math'].str.rstrip('%').astype(float)
school_spending_df['% Passing Reading'] = school_spending_df['% Passing Reading'].str.rstrip('%').astype(float)
school_spending_df['% Overall Passing'] = school_spending_df['% Overall Passing'].str.rstrip('%').astype(float)

# Convert other columns to numeric, coercing errors
school_spending_df['Average Math Score'] = pd.to_numeric(school_spending_df['Average Math Score'], errors='coerce')
school_spending_df['Average Reading Score'] = pd.to_numeric(school_spending_df['Average Reading Score'], errors='coerce')

# Calculate averages for the desired columns
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\662084634.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\662084634.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\662084634.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\662084634.py:14: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\662084634.py:15: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [31]:
# Combine the results into a single DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

spending_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.452500,83.932500,93.460000,96.610000,90.367500
$585-630,81.900000,83.155000,87.132500,92.717500,81.417500
$630-645,78.517500,81.625000,73.485000,84.392500,62.857500
$645-680,76.996667,81.026667,66.163333,81.133333,53.526667

## Scores by School Size

In [32]:
#calculate number of students per school
per_school_counts = school_data_complete["school_name"].value_counts()

In [33]:
per_school_summary_df['Total Students'] = per_school_counts

# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [34]:
#print(per_school_summary_df["Total Students"].isna().sum())
#per_school_summary_df = per_school_summary_df.dropna(subset=["Total Students"])

In [35]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.
#per_school_summary_df["Total Students"] = pd.to_numeric(per_school_summary_df["Total Students"], errors='coerce')
#per_school_summary_df["Total Students"] = pd.to_numeric(per_school_summary_df["Total Students"], errors='coerce')
per_school_summary_df["School Size"] = pd.cut(per_school_summary_df["Total Students"], bins=size_bins, labels=labels, include_lowest=True)
per_school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
School Name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.05,81.03,66.68%,81.93%,54.64%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.06,83.98,94.13%,97.04%,91.33%,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.71,81.16,65.99%,80.74%,53.20%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.10,80.75,68.31%,79.30%,54.29%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.35,83.82,93.39%,97.14%,90.60%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.29,80.93,66.75%,80.86%,53.53%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.80,83.81,92.51%,96.25%,89.23%,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.63,81.18,65.68%,81.32%,53.51%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.07,80.97,66.06%,81.22%,53.54%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.84,84.04,94.59%,95.95%,90.54%,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.84,80.74,66.37%,80.22%,52.99%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.36,83.73,93.87%,95.85%,89.89%,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.42,83.85,93.27%,97.31%,90.95%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.27,83.99,93.87%,96.54%,90.58%,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.68,83.95,93.33%,96.61%,90.33%,Medium (1000-2000)

In [36]:
#convert to numeric
per_school_summary_df["Average Math Score"] = pd.to_numeric(per_school_summary_df["Average Math Score"], errors='coerce')
per_school_summary_df["Average Reading Score"] = pd.to_numeric(per_school_summary_df["Average Reading Score"], errors='coerce')
per_school_summary_df["% Passing Math"] = pd.to_numeric(per_school_summary_df["% Passing Math"], errors='coerce')
per_school_summary_df["% Passing Reading"] = pd.to_numeric(per_school_summary_df["% Passing Reading"], errors='coerce')
per_school_summary_df["% Overall Passing"] = pd.to_numeric(per_school_summary_df["% Overall Passing"], errors='coerce')

In [37]:
# Calculate averages for the desired columns.
size_math_scores = per_school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
size_passing_reading = per_school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
size_overall_passing = per_school_summary_df.groupby(["School Size"])["% Overall Passing"].mean()

C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\67160303.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_math_scores = per_school_summary_df.groupby(["School Size"])["Average Math Score"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\67160303.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_reading_scores = per_school_summary_df.groupby(["School Size"])["Average Reading Score"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\67160303.py:4: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_math = per_school_summary_df.groupby(["School Size"])["% Passing Math"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\67160303.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_passing_reading = per_school_summary_df.groupby(["School Size"])["% Passing Reading"].mean()
C:\Users\kiley\AppData\Local\Temp\ipykernel_6940\67160303.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  size_overall_passing = per_school_summary_df.groupby(["School Size"])["% Overall Passing"].mean()

In [40]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

per_school_summary_df["% Passing Math"] = per_school_summary_df["% Passing Math"].map("{:.2f}%".format)
per_school_summary_df["% Passing Reading"] = per_school_summary_df["% Passing Reading"].map("{:.2f}%".format)
per_school_summary_df["% Overall Passing"] = per_school_summary_df["% Overall Passing"].map("{:.2f}%".format)

size_summary.index = labels

# Display results
size_summary

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Small (<1000),83.820,83.92500,NaN,NaN,NaN
Medium (1000-2000),83.374,83.86600,NaN,NaN,NaN
Large (2000-5000),77.745,81.34375,NaN,NaN,NaN

## Scores by School Type

In [39]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["% Passing Math"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

AttributeError: 'dict' object has no attribute 'groupby'

In [ ]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary =

# Display results
type_summary